
    <main>
        <div class="container">
            <!-- <div class="illustration">
                <img src="illustration.jpg" alt="Illustration" , class='logo_img'>
            </div> -->
            <div class="login-box">
                <h2>Register</h2>
                <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm" class="form">
                    <div class="input-field">
                        <input type="text" placeholder="First Name" formControlName="first" required>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Last Name" formControlName="last" required>
                    </div>
                    <div class="input-field">
                        <input type="email" placeholder="Email Address" formControlName="email" required>
                    </div>
                    <div class="input-field">
                        <input type="text" maxlength="4" placeholder="Ex: 880" formControlName="countryCode" required>
                        <input type="text" maxlength="14" placeholder="Phone Number" formControlName="phoneNumber" required>
                        <span *ngIf="!validNumber" style="color: red;">INVALID PHONE NUMBER</span>
                    </div>
                    <div class="input-field">
                        <input type="password" placeholder="Password" formControlName="password" required>
                        <span *ngIf="!notValid" style="color: red;">PASSWORD MUST BE AT LEAST 8 CHARACTERS WITH ATLEAST ONE SPECIAL, UPPERCASE, LOWERCASE, AND NUMBER CHARACTER</span>
                    </div>
                    <div class="input-field">
                        <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" required>
                        <span *ngIf="!noMatch" style="color: red;">PASSWORDS DO NOT MATCH</span>
                    </div>
                    <button type="submit">Register</button>
                </form>
                <p>Already have an account? <a routerLink="verify">Login</a></p>
            </div>
        </div>
    </main>

    <script src="script.js"></script>