@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* HEAFER STYLING */
header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo_img_header {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo_img {
    height: 250px;
    width: 250px;
}

.logo h1 {
    font-size: 28px;
    font-weight: 700;
    color: #333;
}

.flex-container {
    display: flex;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    margin-left: 20px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #0077b6;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    min-width: 160px;
    padding: 10px 0;
}

.dropdown-menu a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
    background-color: #f2f2f2;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


/* FOOTER STYLING */

footer {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-container a {
    text-decoration: none;
    color: #333;
    margin: 5px 10px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.footer-container a:hover {
    color: #0077b6;
}

.social-media a {
    margin: 0 10px;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-container a {
        margin: 10px 0;
    }
}